<div id="form-wrapper">
  <div class="container userlogin">
      <div class="row">
          <div class="col-md-offset-5 col-md-3" class="form-signin">
              <div class="form-login">
                  <h3>Token Login Page</h3>
                  <h3>user and pass = test</h3>
                  <input type="text" [(ngModel)]="userName" id="userName" class="form-control input-sm chat-input" placeholder="User" />
                  <br />
                  <input type="password" [(ngModel)]="password"  id="password" class="form-control input-sm chat-input" placeholder="Password" />
                  <br />
                  <div  class="wrapper">
                      <span class="group-btn">
                          <input type="button" class="btn btn-primary btn-md" (click)="Redirect()" value="Login"/>
                      </span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
