@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Validata Api Test Data</h1>
    @TempData["data"]

<h2><a href="https://localhost:44347/swagger">Swagger url : https://localhost:44347/swagger</a></h2>
</div>
